[Unit]
Description=Systemd configuration for a Golang Agent which automatically starts Backups
Documentation=https://github.com/azak-azkaran/agent
StartLimitInterval=200
StartLimitBurst=5

[Service]
ExecStart=/usr/local/bin/agent --duration="2h" --vault_address="http://127.0.0.1:8200"
Restart=always
PrivateTmp=yes
NoNewPrivileges=yes
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=always
RestartSec=30
TimeoutStopSec=30
LimitNOFILE=65536
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
